@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");

/* TEXT */
:root {
  --lg-font: "Kaisei Tokumin", serif;
  --sm-font: "Poppins", sans-serif;
  --pink: #e5345b;
}
body {
  font-family: var(--sm-font);
}

/* NAVBAR */
.navbar-brand {
  background-color: #e5345b;
  border-radius: 20px;
  letter-spacing: 2px;
  font-family: var(--lg-font);
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.pinktext {
  color: #e5345b;
}

section {
  padding-bottom: 30px;
}

.card1 {
  transition: transform 0.2s;
  height: 35vh;
}
.card1:hover {
  transform: scale(1.05);
}

.cardImage {
  height: 20vh;
}

.enlarge {
  background-color: #e5345b !important;
}

.enlarge {
  transition: transform 0.2s;
}
.enlarge:hover {
  transform: scale(1.05);
}

.jumbo1 {
  background-size: cover !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("tile1.avif");
}

.jumbo2 {
  background-size: cover !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("tile2.avif");
  overflow: hidden;
}

.button1 {
  background-color: #e5345b;
  border-color: grey;
}

.button1 {
  transition: transform 0.2s;
}

.button1:hover {
  transform: scale(1.05);
}

.button2 {
  background-color: #e5345b;
  border-color: grey;
}

.buttonDefault {
  background-color: gray;
  border-color: grey;
}

.buttonSuccess {
  background-color: #34e5be;
  border-color: grey;
}

@media (max-width: 991px) {
  .cardImage {
    width: 17rem;
    height: 15rem;
  }
  .card1 {
    padding-top: 12px;
  }
}
