@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");

/* TEXT */
:root {
  --lg-font: "Kaisei Tokumin", serif;
  --sm-font: "Poppins", sans-serif;
  --pink: #e5345b;
}
body {
  font-family: var(--sm-font);
}

/* NAVBAR */
.navbar-brand {
  background-color: #e5345b;
  border-radius: 20px;
  letter-spacing: 2px;
  font-family: var(--lg-font);
}

.card {
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}



.enlarge {
  background-color: #e5345b !important;
}

.enlarge {
  transition: transform 0.2s;
}
.enlarge:hover {
  transform: scale(1.05);
}

.jumbo1 {
  background-size: cover !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/tile1.avif");
}

.jumbo2 {
  background-size: cover !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/tile2.avif");
    overflow:hidden;
}


