<%- include('navbar', {active : "add record"}) %>

<!-- Beginning of Add Record Section -->
<section class="vh-100">
  <div class="container container-fluid h-custom pt-5 pb-5 mb-5">
    <h1 class="text-dark">Add a Record</h1>

    <div class="container pb-5 mb-4">
      <header class="pb-3 mb-5 border-bottom"></header>

      <div class="row d-flex justify-content-center align-items-left h-100">
        <div
          class="col column col-md-10 col-lg-6 mb-4 mb-lg-5 pt-3 mt-lg-5 pt-lg-5 pr-lg-5 mr-xlg-5"
        >
          <form action="add" method="POST">
            <div>
              <div class="mb-4 d-flex justify-content-center">
                <img
                  src="placeholder.jpg"
                  alt="example placeholder"
                  style="width: 300px"
                />
              </div>
              <div class="form-outline">
                <input
                  type="imagelink"
                  name = "imagelink"
                  id="form1"
                  class="form-control form-control-lg"
                  placeholder="Enter the Link to Your Cover Image"
                />
                <label class="form-label" for="form1">Image Link</label>
              </div>
            </div>
          
        </div>
        <div class="column col-md-8 col-lg-6 col-xl-4 pt-1 mt-1 mb-1 pt-3 mt-3">
          
            <!-- Title input -->
            <div class="form-outline mb-4">
              <input
                name="title"
                type="title"
                id="form1"
                class="form-control form-control-lg"
                placeholder="Enter the title of the record"
              />
              <label class="form-label" for="form1">Record Title</label>
            </div>

            <!-- Artist input -->
            <div class="form-outline mb-4">
              <input
                type="artist"
                id="form1"
                class="form-control form-control-lg"
                placeholder="Enter the artist name"
                name = "artist"
              />
              <label class="form-label" for="form1">Artist Name</label>
            </div>

            <!-- Release Year input -->
            <div class="form-outline mb-3">
              <input
                type="releaseyear"
                id="form2"
                class="form-control form-control-lg"
                placeholder="Enter year of release"
                name = "releaseyear"
              />
              <label class="form-label" for="form2">Release Year</label>
            </div>

            <!-- Record Label input -->
            <div class="form-outline mb-3">
              <input
                type="recordlabel"
                id="form2"
                class="form-control form-control-lg"
                placeholder="Enter record label"
                name = "recordlabel"
              />
              <label class="form-label" for="form2">Record Label</label>
            </div>

            <div class="form-outline mb-3"></div>
            <select
              class="form-select form-select mb-3 p-2"
              aria-label=".form-select-lg example"
              name = "genre"
            >
              <option selected>--Add a Genre--</option>
              <% rowdata.forEach(genre => { %>
              <option value="<%= genre.genre_id %>"><%= genre.genre_name %></option>
              <% }) %>
            </select>

            <div class="login text-center text-lg-start mt-4 pt-2">
              <button
                type="submit"
                class="button1 btn btn-lg text-white"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
                value="Add Record"
              >
                Add Record +
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Add Record Section -->

<%- include('footer') %>
