<%- include('navbar', {active: "index"}) %>

<div class="container">
  <div class="row">
    <div class="col col-lg-12 pt-5 pb-4">
      <% if(typeof sentback != 'undefined'){ %>

      <h1 class="text-danger pb-5">
        Welcome to the community <%= sentback.first_name_register %>!
      </h1>

      <!-- here is where you can selectively show and hide divs using logic -->
      <% } else { } %>

      <h1>Who are we?</h1>
    </div>
  </div>

  <div class="row">
    <div class="column col-md-12 col-lg-6">
      <p>
        Stacks of Wax is a website that connects music lovers with vinyl
        records. It provides a platform for users to discover and explore new
        and vintage albums. The website allows users to view album information,
        including tracklists, artwork, and other record details. Stacks of Wax also
        features a comprehensive database of vinyl records, making it easy for
        users to find what they're looking for. In addition to browsing collections and records,
        users can leave reviews and ratings on collections that other users have curated.
        This helps other users make informed decisions about what records to add
        to their collection.<br /><br />
        The website is user-friendly and designed for easy navigation, making it
        accessible to both vinyl enthusiasts and newcomers to the format. Stacks
        of Wax also offers recommendations based on users searches. Users can
        create custom lists of their favorite records, which can be shared with
        others on the website. Stacks of Wax is constantly updated with new
        records and information, ensuring that users have access to the latest
        releases.
      </p>
    </div>

    <div
      class="column col-md-12 col-lg-5 d-flex flex-wrap align-items-center text-center justify-content-center pb-4 pl-lg-5 bl-lg-5"
    >
      <a href="\signin" class="getStarted">
        <div class="card1 card text-dark" style="width: 28rem">
          <img
            class="card-img-top"
            src="koopRecords.webp"
            alt="Card image cap"
          />
          <div class="card-body">
            <p>
              <strong>Click to Join the Stacks of Wax Community!</strong>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container pb-5 mb-4">
  <header class="pb-3 mb-5 border-bottom"></header>

  <div class="jumbo1 p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold pl-2 text-white">Collection Capabilities</h1>
      <p class="col-md-7 fs-4 text-white">
        Share your music taste with the world with our 'collections' feature.
        Create and share collections easily by uploading your vinyls today!
      </p>
      <div class="container pl-3">
        <a href="\signin">
          <button
            class="enlarge btn btn-outline-secondary text-white"
            type="button"
          >
            Get Creating
          </button>
        </a>
      </div>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6 mb-4">
      <div class="jumbo2 h-100 p-5 text-bg-dark border rounded-3 text-white">
        <h2>Review Collections</h2>
        <p>
          Review and like others collections in our reviews section. Simply make
          an account to get started!
        </p>
        <a href="\signin">
          <button
            class="enlarge btn btn-outline-secondary text-white"
            type="button"
          >
            Share Your Opinion
          </button>
        </a>
      </div>
    </div>
    <div class="jumbo3 col-md-6 mb-4">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Search Collections</h2>
        <p>
          Can't find that record you're looking for? We've got you covered!
          Search our extensive collections by checking out our many different
          genres!
        </p>
        <a href="\signin">
          <button
            class="enlarge btn btn-outline-secondary text-white"
            type="button"
          >
            Search Our Records
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
