<%- include('navbar', {active: "index"}) %>

<div class="container">
  <div class="row">
    <div class="col col-lg-12 pt-5 pb-4">
      <h1>Who are we?</h1>
    </div>
  </div>

  <div class="row">
    <div class="column col-md-12 col-lg-6">
      <p>
        Stacks of Wax is a website that connects music lovers with vinyl
        records. It provides a platform for users to discover and explore new
        and vintage albums. The website allows users to view album information,
        including tracklists, artwork, and artist details. Stacks of Wax also
        features a comprehensive database of vinyl records, making it easy for
        users to find what they're looking for. In addition to browsing records,
        users can leave reviews and ratings on albums they have listened to.
        This helps other users make informed decisions about what records to add
        to their collection.<br /><br />
        The website is user-friendly and designed for easy navigation, making it
        accessible to both vinyl enthusiasts and newcomers to the format. Stacks
        of Wax also offers recommendations based on users searches. Users can
        create custom lists of their favorite records, which can be shared with
        others on the website. Stacks of Wax is constantly updated with new
        records and information, ensuring that users have access to the latest
        releases
      </p>
    </div>

    <div
      class="column col-md-12 col-lg-5 d-flex flex-wrap align-items-center text-center justify-content-center pb-4 pl-lg-5 bl-lg-5"
    >
      <a href="\signin" class="getStarted">
        <div class="card1 card text-dark" style="width: 28rem">
          <img
            class="card-img-top"
            src="koopRecords.webp"
            alt="Card image cap"
          />
          <div class="card-body">
            <p>
              <strong>Click to Join the Stacks of Wax Community!</strong>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="column col-lg-12 pb-0">
      <p>
        The website also offers a blog section, where users can read articles
        and news about vinyl records and the music industry. Stacks of Wax is a
        great resource for both casual listeners and serious collectors,
        offering a wide range of albums and genres. The website's
        community-driven approach encourages users to share their knowledge and
        opinions about vinyl records. Stacks of Wax is an essential tool for
        anyone looking to expand their vinyl collection and discover new music.
        The website is also a great place to chat about records in our reviews
        section records. Stacks of Wax is committed to promoting the vinyl
        format and preserving the rich history of recorded music. The website is
        constantly improving and expanding, making it an essential resource for
        all vinyl enthusiasts. Whether you're a seasoned collector or just
        starting out, Stacks of Wax is the perfect place to explore and discover
        the world of vinyl records. So, if you're passionate about music and
        vinyl, be sure to check out Stacks of Wax today! Join the community and
        discover the magic of vinyl records!
      </p>
    </div>
  </div>
</div>

<div class="container pb-5 mb-4">
  <header class="pb-3 mb-5 border-bottom"></header>

  <div class="jumbo1 p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold pl-2 text-white">Collection Capabilities</h1>
      <p class="col-md-7 fs-4 text-white">
        Share your music taste with the world with our 'collections' feature.
        Create and share collections easily by uploading your vinyls today!
      </p>
      <div class="container pl-3">
        <button class="enlarge btn btn-secondary btn-lg" type="button">
          Get Creating
        </button>
      </div>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6 mb-4">
      <div class="jumbo2 h-100 p-5 text-bg-dark border rounded-3 text-white">
        <h2>Reviews Section</h2>
        <p>
          Review and like others collections in our reviews section. Simply make
          an account to get started!
        </p>
        <button
          class="enlarge btn btn-outline-secondary text-white"
          type="button"
        >
          Share Your Opinion
        </button>
      </div>
    </div>
    <div class="jumbo3 col-md-6 mb-4">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Search Records</h2>
        <p>
          Can't find that record you're looking for? We've got you covered!
          Search our extensive collection by checking out our many different
          genres!
        </p>
        <button
          class="enlarge btn btn-outline-secondary text-white"
          type="button"
        >
          Search Our Records
        </button>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
