<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stacks of Wax</title>
    <!-- fontawesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="mainIndex.css" />
  </head>
  <body>
    <!-- Beginning of Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand p-3" href="\">
        <img src="recordLogo.png" />
        Stacks of Wax</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

        <!-- Controls Navbar active status of 'Home' -->
        <li class = "nav-item">
          <a <% if (active === 'index') { %>
            class = "nav-link active"
            href="\"
            <%} else { %>
            class = nav-link
            href="\"
            <% } %> > Home </a>
        </li>
        <!-- End of 'Home' -->

        <!-- Controls Navbar active status of 'Sign in' -->
        <li class = "nav-item">
          <a <% if (active === 'sign in' || active === 'register') { %>
            class = "nav-link active"
            href="\signin"
            <%} else { %>
            class = nav-link
            href="\signin"
            <% } %> > Sign in </a>
        </li>
        <!-- End of 'Sign in' -->

        <!-- Controls Navbar active status of 'Collections' dropdown -->
        <li <% if (active === 'manage collections' || active === 'view collection' || active === 'add collection') { %>
          class = "nav-item dropdown active"
          <%} else { %>
          class = "nav-item dropdown"
          <% } %>>
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Collections
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a <% if (active === 'manage collections' || active === 'view collection' || active === 'add collection') { %>
              class = "dropdown-item active"
              href="\managecollections"
              <%} else { %>
              class = dropdown-item
              href="\managecollections"
              <% } %> > Manage my Collections </a>
              <a <% if (active === 'search collections') { %>
                class = "dropdown-item active"
                href="\searchcollections"
                <%} else { %>
                class = dropdown-item
                href="\searchcollections"
                <% } %> > Search Collections </a>
          </div>
        </li>
        <!-- End of 'Collections' -->

        <!-- Controls Navbar active status of 'Records' dropdown -->
        <li <% if (active === 'manage records' || active === 'view record' || active === 'add record') { %>
          class = "nav-item dropdown active"
          <%} else { %>
          class = "nav-item dropdown"
          <% } %>>
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Records
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a <% if (active === 'manage records' || active === 'view record' || active === 'add record') { %>
              class = "dropdown-item active"
              href="\managerecords"
              <%} else { %>
              class = dropdown-item
              href="\managerecords"
              <% } %> > Manage my Records </a>
              
          </div>
          
        </li>
        <!-- End of 'Records' -->
        </ul>
      </div>
    </nav>
    <!-- End of Navbar -->
  </body>
</html>
