<%- include('navbar') %>

<!-- Beginning of view collection section -->
<div class="container">
  <div class="row">
    <div class="col col-lg-12 pt-5">
      <h1>Manage Collections / Collection title</h1>
    </div>
  </div>

  <div class="container pb-5 mb-4">
    <header class="pb-3 mb-5 border-bottom"></header>

    <div class="row pt-3 pb-5">
      <div class="col col-6">
        <a href="\manageCollections">
          <button
            class="enlarge btn btn-outline-secondary text-white"
            type="button"
          >
            <- Back
          </button>
        </a>
      </div>
    </div>

    <div class="row pt-3 text-center pb-5">
      <div class="column col-md-6 col-lg-3 text-center pb-4">
        <a href="\viewRecord" class="getStarted">
          <div class="card text-dark">
            <img
              class="card-img-top"
              src="notFound.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <strong>Record Title</strong>
              <p>Record Artist</p>
            </div>
          </div>
        </a>
      </div>

      <div class="column col-md-6 col-lg-3 pb-4">
        <a href="\viewRecord" class="getStarted">
          <div class="card text-dark">
            <img
              class="card-img-top"
              src="notFound.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <strong>Record Title</strong>
              <p>Record Artist</p>
            </div>
          </div>
        </a>
      </div>

      <div class="column col-md-6 col-lg-3 pb-4">
        <a href="\viewRecord" class="getStarted">
          <div class="card text-dark">
            <img
              class="card-img-top"
              src="notFound.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <strong>Record Title</strong>
              <p>Record Artist</p>
            </div>
          </div>
        </a>
      </div>

      <div class="column col-md-6 col-lg-3 pb-4">
        <a href="\viewRecord" class="getStarted">
          <div class="card text-dark">
            <img
              class="card-img-top"
              src="notFound.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <strong>Record Title</strong>
              <p>Record Artist</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row pt-3 text-center pb-5">
      <div class="column col-md-6 col-lg-3 text-center pb-4">
        <a href="\viewRecord" class="getStarted">
          <div class="card text-dark">
            <img
              class="card-img-top"
              src="notFound.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <strong>Record Title</strong>
              <p>Record Artist</p>
            </div>
          </div>
        </a>
      </div>

      <div class="column col-md-6 col-lg-3 pb-4">
        <a href="\viewRecord" class="getStarted">
          <div class="card text-dark">
            <img
              class="card-img-top"
              src="notFound.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <strong>Record Title</strong>
              <p>Record Artist</p>
            </div>
          </div>
        </a>
      </div>

      <div class="column col-md-6 col-lg-3 pb-4">
        <a href="\viewRecord" class="getStarted">
          <div class="card text-dark">
            <img
              class="card-img-top"
              src="notFound.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <strong>Record Title</strong>
              <p>Record Artist</p>
            </div>
          </div>
        </a>
      </div>

      <div class="column col-md-6 col-lg-3 pb-4">
        <a href="\viewRecord" class="getStarted">
          <div class="card text-dark">
            <img
              class="card-img-top"
              src="notFound.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <strong>Record Title</strong>
              <p>Record Artist</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Beginning of view collection section -->

<%- include('footer') %>

