<%- include('navbar', {active : "view record"}) %>

<!-- Beginning of view Record Section -->
<section class="vh-100">
  <div class="container container-fluid h-custom pt-5 pb-3">
    <div class="container pb-5 mb-4">
      <header class="pb-3 mb-5 border-bottom"></header>

      <div class="row d-flex justify-content-center align-items-left h-100">
        <div class="column col-md-9 col-lg-12 mb-1 pt-5">
          <div class="card mx-auto" style="width: 25rem">
            <img class="card-img-top" src="notFound.jpg" alt="Card image cap" />
          </div>
        </div>
        <div
          class="column col-md-8 col-lg-6 col-xl-4 pt-1 mt-1 mb-1 pt-sm-3 mt-sm-3 mx-auto"
        >
          <form>
            <!-- Title -->
            <div class="form-outline mb-4 text-center">
              <h3 class="pb-1">Record Title - xxxxxxx</h3>
              <h5 class="pb-1">Artist Name - xxxxxxx</h5>
              <p>Record label</p>
              <p>Release Year</p>
              <p>Tracklist</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of view Record Section -->

<%- include('footer') %>
